body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#learn-more-body > div.card > h4 > a {
    text-shadow: 2px 2px #00000000;
}

table {
    margin: 1.5em;
}

ul {
    padding-left: .25em;
}

.card {
    max-width: 55%;
    padding: 2em;
    margin: 2em;
    background: linear-gradient(var(--background), var(--background-gradient));
}

.card > h3 {
    text-align: center;
}

.card > * {
    margin-top: .5em;
    margin-bottom: 1em;
}

/* sponsorship table styling */
th, td {
    padding: 1em;
}

table tr:nth-child(even) {
  background-color: #fff;
}

table tr:nth-child(odd) {
  background-color: #eee;
}

table th {
  color: white;
  background: var(--background);
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#email-form > label {
    font-size: larger;
}

#email-form > sponsor-subject {
    margin-bottom: 1em;
}

#email-form > input {
    margin-bottom: .7em;
    width: 40%;
}

#email-form > textarea {
    border: var(--background);
    max-width: 90%;
    padding: .5em;
}

/* mobile */
@media screen and (max-width: 600px) {
    .card {
        max-width: 95%;
    }
    #email-form > input {
        width: 90%;
    }

    /* table styling */
    /* Force table to not be like tables anymore */
    table {
        border:none;
    }
    
    ul {
        padding: 0em;
    }
    
    th, td {
        padding: .25;
    }
	table, thead, tbody, th, td, tr {
		display: block;
	}

    table tr:nth-child(odd) {
        background: #ccc;
    }
    
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    
    tr {
        margin: 0 0 1rem 0;
    }
    
    
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
    
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
    
	/* Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
   */
	td:nth-of-type(1):before { content: "Type"; }
	td:nth-of-type(2):before { content: "Support"; }
	td:nth-of-type(3):before { content: "Perks"; }
}
