body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#learn-more-body > div.card > h4 > a{
    text-shadow: 2px 2px #00000000;
}

.card {
    max-width: 55%;
    padding: 2em;
    margin: 2em;
    background: linear-gradient(var(--background), var(--background-gradient));
}

.card > h3 {
    text-align: center;
}

.card > * {
    margin-top: .5em;
    margin-bottom: 1em;
}

/* sponsorship table styling */
th, td {
    padding:1em;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #fff;
}

table th {
  color: white;
  background: var(--background);
}

#email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#email-form > label {
    font-size: larger;
}

#email-form > sponsor-subject {
    margin-bottom: 1em;
}

#email-form > input {
    margin-bottom: .7em;
    width: 40%;
}

#email-form > textarea {
    border: var(--background);
    max-width: 90%;
    padding: .5em;
}

/* mobile */
@media screen and (max-width: 600px) {
    .card {
        max-width: 95%;
    }
    #email-form > input {
        width: 90%;
    }
}
