body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* learn more sponsorship styling */

.card {
    max-width: 50%;
    padding: 1em;
    margin: 2em;
    background: linear-gradient(var(--background), var(--background-gradient));
}

.card > h3 {
    text-align: center;
}
.card > * {
    margin-bottom: 1em;
}

/* email form styling */
#email-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#email-form > * {
    margin-top: .5em;
}

#email-form > label {
    font-size: larger;
}

#email-form > input {
    margin-bottom: .7em;
    width: 40%;
}

#email-form > textarea {
    border: var(--background);
    max-width: 90%;
    padding: .5em;
}

/* mobile */
@media screen and (max-width: 600px) {
    .card {
        max-width: 95%;
    }
    #email-form > input {
        width: 90%;
    }
}
